.services_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.services {
    background: var(--color-bg-variant-light);
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(--color-primary);
    height: -webkit-fit-content;
    height: fit-content;
    transition: var(--transition8);
    box-shadow: 0 2px 14px -1px var(--color-bg-variant-light-shadow);
}

.services:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
    box-shadow: none;
}

.services:hover > .service_head {
    /* width: 102%; */
    margin-left: -9px;
    margin-right: -9px;
    margin-top: -6px;
    transition: 0.92s;
    background: linear-gradient(to right, rgb(94, 145, 255), rgb(73, 130, 253), rgb(70, 70, 247), rgb(56, 56, 229));
}

.service_head {
    background: var(--color-primary);
    padding: 2rem;
    text-align: center;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 1px 15px -1px var(--color-10);
}

.service_head h3 {
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}

.service_list {
    padding: 2rem;
}

.service_list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.service_list-icon {
    color: var(--color-primary-dark);
    margin-top: 2px;
    width: 50px;
}

.service_list p {
    font-size: 0.9rem;
}

/* ======================================================= MEDIA QUERIES (MEDIUM DEVICES) =================================================== */
@media screen and (max-width: 1024px) {
    .services_container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .services {
        height: auto;
    }
}

/* ======================================================= MEDIA QUERIES (SMALL DEVICES) =================================================== */
@media screen and (max-width: 600px) {
    .services_container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}